:root {
  --background-color: #2e2f42;
  --logo-color: #4d5ae5;
  --basic-text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--basic-text-color);
}

/*Header*/
.web,
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  color: var(--background-color);
}

.web {
  color: var(--logo-color);
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  color: var(--background-color);
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

.contacts:hover,
.contacts:focus {
  color: red;
}

/*Main*/

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  gap: 10px;
  background: var(--logo-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--logo-color);
  background-color: #ffffff;
}

.benefits {
  list-style-type: none;
}

.header-three-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

.paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.headertwo-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color);
}

.unordered-list {
  list-style-type: none;
}

.our-team {
  background-color: #f4f4fd;
}

/*Footer*/
.footer {
  background-color: var(--background-color);
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}

.web-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/*Portfolio styles*/
.filters-btn {
  font-family: "Roboto";
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.headertwo-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
